<h1>Insertar</h1>

<form method="POST">
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Ingresa tu Correo Electronico</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <small id="emailHelp" class="form-text text-muted">Ingresa tu Contraseña</small>
    </div>
    <button type="submit" class="btn btn-primary">Insertar</button>
  </form>